@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root
{
    --color-white: #FFFFFF;
    --color-grey-100:#F3F6FF;
    --color-grey-200:#EFF2FC;
    --color-grey-300:#E2E5F1;
    --color-grey-400:#D4D7E5;
    --color-grey-500:#B4B7C9;
    --color-grey-600:#9397AD;
    --color-grey-700:#565973;
    --color-grey-800:#33354D;
    --color-grey-900:#0B0F19;
    --color-primary:#6366F1;
    --color-red:#EF4444;
    --color-green:#22C55E;
    --color-yellow:#FFBA08;
    --color-blue:#4C82F7;
    
    --container-padding: 1rem;
    --transition-time: all 0,2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
font-family: "Manrope", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;


}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin: 0 auto;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    Padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
}

.btn-primary:hover {
    background-color: var(--color-grey-100);
    color: var(--color-primary);
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.btn-toggle-switch {
   display: flex;
   align-items: center;
   gap: 10px;  
}

.btn-toggle-switch .label {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }

.toggle-switch input {
    opacity: 0;
  }
  
.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey-500);
    transition: all 0.2s;
  }
  
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
  }
  

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
}

.navbar {
    display: none;
}

.nav-link {
    color: var(--color-grey-800);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;

}

#signinup {
    display: none;
}

header .container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    font-size: 14px;
    color: var(--color-grey-600);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

}

.credit {
    display: none;
}


#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
       } 


    .brand-box {
        border: 1px solid var(--color-grey-300);
        border-radius: 8px;
        height: 100px;
        width: 196px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width:760px) {

    .container {
        max-width: 720px;
    }

    .btn-toggle-switch .label {
        display: block;
    }

    header .container {
        gap: 3rem;
    }

    footer .credit {
            display: block;
        }
    
    #brands {
        display: block;
    }

    #brand-5, #brand-6 {
        display: none;
    }

}



@media (min-width:1400px) {

        .container{
             max-width: 1320px;
            }
    
       .btn-toggle-switch .label {
            display: block;
            }
    
       header .container {
            grid-template-columns: auto 1fr auto auto;
            align-items: center;    
            gap: 3rem;
            }
    
        .navbar {
            display: block;
        }
    
        #signinup {
            display: block;
        }
    
        .btn-mobile {
            display: none;
        }

        #brand-5, #brand-6 {
            display: flex;

        }
    
}