@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root
{
    --color-white: #FFFFFF;
    --color-grey-100:#F3F6FF;
    --color-grey-200:#EFF2FC;
    --color-grey-300:#E2E5F1;
    --color-grey-400:#D4D7E5;
    --color-grey-500:#B4B7C9;
    --color-grey-600:#9397AD;
    --color-grey-700:#565973;
    --color-grey-800:#33354D;
    --color-grey-900:#0B0F19;
    --color-primary:#6366F1;
    --color-red:#EF4444;
    --color-green:#22C55E;
    --color-yellow:#FFBA08;
    --color-blue:#4C82F7;
    
    --transition-time: all 0,2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    list-style: none;
}

body {
font-family: "Manrope", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-size: 16px;

}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    margin: 0 auto;
}

#logo {
    color: var(--color-primary);
    text-decoration: none;
}

#logo:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    border: none;
    Padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
}

.btn-primary:hover {
    background-color: var(--color-grey-100);
    color: var(--color-primary);
}

.btn-mobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.btn-download-app { 
    background-color: var(--color-grey-900);
    color: var(--color-white);
    border-radius: 8px;
    Padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
}

.btn-download-app:hover {
    background-color: var(--color-grey-600);
    color: var(--color-primary);
 }

 .btn-circle {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid var(--color-grey-200);
    background-color: white;
    color: var(--color-grey-900);
}

.btn-circle:hover {
    background-color: var(--color-grey-600);
    color: white; 
}

.btn-toggle-switch {
   display: flex;
   align-items: center;
   gap: 10px;  
}

.btn-toggle-switch .label {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }

.toggle-switch input {
    opacity: 0;
  }
  
.toggle-switch input:checked + .slider {
    background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey-500);
    transition: all 0.2s;
  }
  
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
  }
  

.toggle-switch .slider.round {
    border-radius: 35px;
}

.toggle-switch .slider.round:before {
    border-radius: 50%;
}

.navbar {
    display: none;
}

.nav-link {
    color: var(--color-grey-800);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--color-primary);
    text-decoration: underline;

}

#signinup {
    display: none;
}

header .container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
       } 
    }

    .brand-box {
        border: 1px solid var(--color-grey-300);
        border-radius: 8px;
        height: 100px;
        width: 196px;
        display: flex;
        justify-content: center;
        align-items: center;
}

footer {
    font-size: 1rem;
    color: var(--color-grey-600);
    padding-top: 1rem;
    padding-bottom: 1rem;
    

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
    
    
}




@media (min-width:760px) {

    .container {
        max-width: 720px;
    }

    .btn-toggle-switch .label {
        display: block;
    }

    header .container {
        gap: 3rem;
    }

    footer .credit {
            display: block;
        }
    
    #brands {
        display: block;
    }

    #brand-5, #brand-6 {
        display: none;
    }

   
}


@media (min-width:1400px) {

    .container{
        max-width: 1320px;
     }
    
    .btn-toggle-switch .label {
        display: block;
    }
    
     header .container {
         grid-template-columns: auto 1fr auto auto;
         align-items: center;    
         gap: 3rem;
    }
    
    .navbar {
        display: block;
    }
    
    #signinup {
        display: block;
    }
    
    .btn-mobile {
        display: none;
    }

    #brand-5, #brand-6 {
        display: flex;
    }

    #brand-4 {
        border: none;
    }

    #brand-6 {
        box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.068);
    }
    
}


#hero {
    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(218,70,239,0.05) 42%, rgba(241,244,253,0.07) 83%);
    padding-bottom: 2rem;

    overflow: hidden;
   

    @media (min-width: 768px) {
        padding-bottom: 0;
    }
    
    .container { 
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas:        "headline" "content";


        @media (min-width:768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:        "headline headline"
                                        "content images";
        }

        @media (min-width:1400px) {
            gap: 4rem;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:        "headline images"
                                        "content images";    
        }
    }

    .headline {
        grid-area: headline;
        text-align: center;
        h1 {
            font-size: 34px;
            font-weight: 800;
            color: var(--color-grey-900);
            margin-bottom: 2rem;

            @media (min-width:768px) {
                font-size: 56px;

            @media (min-width: 1400px) {
                   padding-top: 5rem;
                   text-align: left;
                   margin-bottom: 0;
                } 
            }      
            
            @media (min-width:1400px) {
                text-align: left;
            } 
          }
    }

    .content {
        grid-area: content;
        text-align: center;

        @media (min-width: 768px){
            text-align: left;
        }
        p {
            font-size: 18px;
            color: var(--color-grey-700);
            margin-bottom: 3rem;
        }

        .buttons {
            display:flex;
            flex-direction: column;
            gap: 1rem;


            @media (min-width: 1400px) {
                flex-direction: row;
            }

        }

        .discover-more {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            text-decoration: none;
            color: var(--color-grey-700);
            margin-top: 2rem;
        

            @media (min-width:768px){
                justify-content: flex-start;
                margin-bottom: 3rem;
            }

            @media (min-width:1400px){
                margin-top: 10rem;
            }
        }
    }

    .images {
        position: relative;
        grid-area: images;
        display: none;

        @media (min-width:768px) {
            display: block;
        }

     }

        .img-back {
            position: absolute;
            z-index: -10;
            bottom: 0;
            right: 100px;
            width: 70%;
            height: auto;

            @media (min-width:1400px) {
                right: 200px;
                width: 60%;
             }

        }

        .img-front {
            position: absolute;
            z-index: -5;
            bottom: 0;
            right: 0;
            width: 70%;
            height: auto;
            
            @media (min-width:1400px) {
                width: 60%;
             }

    }
}

#features { 
    margin-bottom: 1rem;
    .container {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas:        "headline"
                                    "text"
                                    "appfeatures";

    


        @media (min-width:768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:        "headline headline"
                                        "text text" 
                                        "appfeatures appfeatures"
                                        "appfeatures appfeatures"
                                        "appfeatures appfeatures";
        }

        @media (min-width:1400px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:        "image headline headline"
                                        "image text text"
                                        "image appfeatures appfeatures"
                                        "image appfeatures appfeatures"
                                        "image appfeatures appfeatures";
            
        }

        .image {
            grid-area: image;
            display: none;

            @media (min-width:1400px) {
                display: block;
            }
        }

        .headline {
            grid-area: headline;
            text-align: center;
            font-size: 28px;
            font-weight: 800;
            color: var(--color-grey-900);
            margin-bottom: 1rem;
    
                @media (min-width:768px) {
                    font-size: 34px;
                } 
    
                @media (min-width: 1400px) {
                    font-size: 40px;
                    text-align: left;
                    text-align: left;
                    }
        }

        .text {
            grid-area: text;
            text-align: center;
            font-size: 1.4rem;
            color: var(--color-grey-700);
            margin-bottom: 1rem;

            @media (min-width:1400px) {
                text-align: left;
            }
        }

        .appfeatures {
            grid-area: appfeatures;
            display: grid;
            gap: 2rem;
            margin-bottom: 2rem;

            h2 {
                padding-bottom: 1rem;
            }

            p {
                color: var(--color-grey-700)
            }
            
            @media (min-width:768px) {
                grid-template-columns: 1fr 1fr;
                grid-template-columns: "easy data"
                                       "cost support"
                                        "regular top";

            }

            .easy {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-areas: "img h2"
                                     "img p";
                align-items: center;
                
                img { 
                    grid-area: img;
                }

                h2 {
                    grid-area: h2;
                }

                p {
                    grid-area: p;
                }
            }
            .data {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-areas: "img h2"
                                     "img p";
                align-items: center;
                
                img {
                    grid-area: img;
                }

                h2 {
                    grid-area: h2;
                }

                p {
                    grid-area: p;
                }
            }

            .cost {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-areas: "img h2"
                                     "img p";
                align-items: center;
                
                img {
                    grid-area: img;
                }

                h2 {
                    grid-area: h2;
                }

                p {
                    grid-area: p;
                }
            }
            .support {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-areas: "img h2"
                                     "img p";
                align-items: center;
                
                img {
                    grid-area: img;
                }

                h2 {
                    grid-area: h2;
                }

                p {
                    grid-area: p;
                }
            }

            .regular {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-areas: "img h2"
                                     "img p";
                align-items: center;
                
                img {
                    grid-area: img;
                }

                h2 {
                    grid-area: h2;
                }

                p {
                    grid-area: p;
                }
            }

            .top {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-areas: "img h2"
                                     "img p";
                align-items: center;

                img {
                    grid-area: img;
                }

                h2 {
                    grid-area: h2;
                }

                p {
                    grid-area: p;
                }
            }
        }
        
    }

}

#works {
    background-color: var(--color-grey-100);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    text-align: center;
    padding-top: 0.5rem;


    .headline {
        grid-area: headline;
        font-size: 1.5rem;
        font-weight: 800;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    h2 {
        font: 1.5rem;
        font-weight: 800;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        color: #585C7B;
        padding-bottom: 2rem;
    }
    

    .mobile-mobiles {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .transfer-black {
            position: relative;
        }

        .transfer-shell {
            position: absolute;
        }

        .transfer-container {
            position: absolute;
        }

        @media (min-width:768px) {
                display: none;
            }
    }
    .mobile-tablet {
        position: relative;
        display: none;
        justify-content: center;
        align-content: center;
        gap: 1rem;


        .tablet-2black {
            position: relative
        }

        .tablet-2shell {
            position: absolute;
        }

        .tablet-2 {
            position: absolute;
        }
    
        @media (min-width:768px) {
            display: flex;
             }
        @media (min-width:1400px) {
            display: none;
        }
    }
     .mobile-desktop {
        display: none;
        justify-content: center;
        align-content: center;
        gap: 1rem;

            @media (min-width:1400px) {
                display: flex;
            }
       }

    .content-mobile {
        @media (min-width:768px) {
            display: none;
        }
    }
    .content-tablet {
        display: none;
        @media (min-width:768px) {
            display: block;  
        }
        @media (min-width:1400px) {
            display: none;
        }

        
    }
    .content-desktop {
        display: none;
        @media (min-width:1400px) {
            display: block;
        }
    }
}



#money {

    display: none;

    @media (min-width:1400px) {
        display: block;
    }



    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "yourmoney sendmoney"
                             "contacts payment";

    }

    .yourmoney {
        grid-area: yourmoney;
        padding-top: 7rem;
    }

    .sendmoney {
        grid-area: sendmoney;
    }

    .contacts {
        grid-area: contacts;
    }

    .payment {
        grid-area: payment;
        padding-top: 7rem;
    }

    .makemoney {
        margin-bottom: 2rem;
    }
    
    .moneytext {
        display: grid;
        gap: 8px;
        align-items: center;
        margin-bottom: 1rem;
        
        li {
            display: flex;
            gap: 1rem;
            align-items: center;
        };
    }

    .icons {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
      
    }

    .creditcard {
        grid-area: creditcard;
    }
    .wallet {
        grid-area: wallet;
    }
    .manage {
        grid-area: manage;
    }
    .elementur {
        grid-area: elementur;
    }

    
}
    
#clients {

    display: none;

    @media (min-width:1400px) {
        display: block;
    }

    background-color: var(--color-grey-100);

    .container {
        display: flex;
        justify-content: space-between;
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    h2 {
        font-size: 40px;
        max-width: 300px;
    }

    .cards {
        display: flex;
        gap: 1em;
    }

    .card1, .card2 { 
        background-color: var(--color-white);
        padding-top: 2em;
        position: relative;
        border-radius: 0.5em;
        box-shadow: 0 0 10px #0b0f191c;
    }

    .citat1, .citat2 {
        padding-left: 2em;
        padding-right: 2em;
        max-width: 420px;
    }

    .stars {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    p {
        font-size: 18px;
        color: var(--color-grey-700)
    }

   .Albert, .Fannie {
        padding-top: 2em;
        padding-bottom: 2em;
   }



    .citat-icon {
        position: absolute;
        top: -30px;
        left: 20px;
        background-color: var(--color-primary);
        padding: 1em;
        border-radius: 5px;
        box-shadow: 0 0  10px var(--color-primary);
    }

    .Fannie, .Albert {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "name h3"
                             "name p";
        
        .name {
            grid-area: name;
        }
        h3 {
            grid-area: h3;
        }
        p {
            grid-area: p;
        }

    
    }
}

#faq {

    .container {
        display: flex;
        flex-direction: column;



        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr auto;
            padding-top: 2rem;
            padding-bottom: 2rem; 
            grid-template-areas: "group-text"
                                 "group-questions"
                                 "boxes";
        }

    .group-text {
        grid-area: group-text;

        @media (min-width:1400px) {
            max-width: 420px;

            .heading, .unanswered {
                text-align: left;
            }
        }
    }

    p {
        color: var(--color-grey-700);
    }

    .contact-phone {
        color: var(--color-primary);
        font-weight: 800;
    }

    .contact-message {
        color: var(--color-green);
        font-weight: 800;
    }

    .boxes {
        grid-area: boxes;
        display: none;
        gap: 2em;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .phone-question, .message-question {
                height: 168px;
                width: 330px;
                max-width: 50%;

            }
        }
    }

    .phone-question, .message-question {
        border: 1px solid var(--color-grey-300);
        border-radius: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 1em;
        padding-bottom: 1em;
        

        img, p, a {
            padding: 0.5em;
        }
    }
        

    }

    .btn {
        font-size: 1rem;
        padding: 1rem 2rem 1rem 2rem;
        margin: 2rem auto;

        @media (min-width: 768px) {
            display: none;
        }
     
    }
    
    .heading {
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
    }

    .unanswered {
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: 1.2rem;
        color: var(--color-grey-700);
        text-align: center;
    }

    .group-question {
        grid-area: group-question;
    }

    .questions {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        font-size: 1,2;

        background-color: #ffffff;
        color: #131022;
        padding: 18px;
        width: 100%;
        border: 1px solid var(--color-grey-200);
        text-align: left;
        outline: none;
        font-size: 1em;
        font-weight: 600;
        transition: 0.4s;
        border-radius: 0.5em;

        @media (min-width:768px) {
            margin-top: 1rem;
            margin-bottom: 1rem;
            box-shadow: 0 4px 4px #8b8b8b1f;
        }

        @media (min-width:1400px) {
            max-width: 620px;
        }
    }

    .questions-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

  .panel {
    padding: 1rem;
    background-color: white;
    color: var(--color-grey-700);
    padding: 0 1.2em;
    border-top: 1px solid var(--color-grey-200);
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .question-text {
    text-align: left;
    outline: none;
    font-size: 1em;
    font-weight: 600;
  }
  
  .active {
    background-color: #ffffff;
  }

.question-button {
    border: none;
    background-color: #F3F6FF;
    color: #3E4265;
}

.question-button:hover {
    cursor: pointer;
}

.question-button.active {
    color: #F3F6FF;
    background-color: var(--color-primary);
    transform: rotate(180deg);
    transition: transform 0.2s ease-out,
                box-shadow 0.4s ease-out;

    box-shadow: 0px 16px 32px -8px var(--color-primary);
}
}
#subscribe {
    .container {
        display: grid;
        justify-content: center;
        align-items: center;
        background: #F3F6FF;
        padding-top: 2rem;
        padding-bottom: 2rem; 
        border-radius: 0.5em;       

        @media (min-width:768px) {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2em;
        }
    }

    .newsletter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
        
    }

    h2 {
        font-size: 1.5rem;
        color: var(--color-grey-900);
        font-weight: 800;

        @media (min-width: 768px) {
            max-width: 200px;
        }

        @media (min-width:1400px) {
            max-width: 500px;
        }
    }

    .subscribe-1 {
        @media (min-width:1400px) {
            display: none;
        }
    }

    .subscribe-2 {
        display: none;

        @media (min-width:1400px) {
            display: block;
        }
    }

    .btn {
        background-color: var(--color-primary);
        color: white;
        padding: 1em;
        font-size: 1rem;
        border: none;

    }


    .input-group {
        display: flex;

        .btn {
            border-radius: 0 0.5em 0.5em 0;
        }

        .form-input {
            border: 0.2px solid var(--color-grey-600);
            padding: 0.5em 2em;
            font-size: 1rem;
            border-radius: 0.5em 0 0 0.5em;

            @media (min-width: 768px) {
                max-width: 210px;
            }

            @media (min-width: 1400px) {
                max-width: 400px;
            }
        
        }
    }
}