$color-white: #FFFFFF;
$color-grey-100:#F3F6FF;
$color-grey-200:#EFF2FC;
$color-grey-300:#E2E5F1;
$color-grey-400:#D4D7E5;
$color-grey-500:#B4B7C9;
$color-grey-600:#9397AD;
$color-grey-700:#565973;
$color-grey-800:#33354D;
$color-grey-900:#0B0F19;
$color-primary:#6366F1;
$color-red:#EF4444;
$color-green:#22C55E;
$color-yellow:#FFBA08;
$color-blue:#4C82F7;

$transparent: transparent;